
@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-10  col-md-offset-1">
        <h2>About</h2>
        <p>
            Tato aplikace umožnuje zpřístupnit smlouvy veřejných institucí ve formě otevřených a propojitelných dat (Linked Open Data). Vychází ze <a href="http://standard.zindex.cz/">standardu pro otevřené smlouvy</a>.
            Dále si klade za cíl nastínit přínosy a výhody propojených datasetů, které obohacují celkový kontext smluv údaji např. z ARESu, RÚIANu nebo Věštníku veřejných zakázek.
        </p>
    </div>
</div>



