@model ContractViewer.Models.PublisherViewModel
@using GridMvc.Html

@{
    ViewBag.Title = "SubjectDetail";
}

<h2>Město @Html.DisplayFor(model => model.Publisher.Name)</h2>
<hr />

<img alt="" src="@Url.Content(Model.Publisher.ImageUrl)" />

<hr />
<h4>Seznam smluv</h4>
<div>
    @Html.Grid(Model.Contracts).Columns(columns =>
    {
        columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .RenderValueAs(d =>
                @<b>
                    @Html.ActionLink("Detail", "ContractDetail", new { d.BaseDomain, d.ContractId, d.Version, d.Publisher })
                </b>);

    }).AutoGenerateColumns().WithPaging(10).Sortable().Filterable().WithGridItemsCount("Počet nalezených smluv")
</div>



